@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Peyda';
  src: url('/fonts/Peyda/Peyda-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Peyda';
  src: url('/fonts/Peyda/Peyda-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Peyda';
  src: url('/fonts/Peyda/Peyda-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Peyda';
  src: url('/fonts/Peyda/Peyda-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Peyda';
  src: url('/fonts/Peyda/Peyda-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Peyda';
  src: url('/fonts/Peyda/Peyda-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Peyda';
  src: url('/fonts/Peyda/Peyda-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Peyda';
  src: url('/fonts/Peyda/Peyda-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Peyda';
  src: url('/fonts/Peyda/Peyda-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@layer base {
  body {
    /* @apply bg-slate-950 text-slate-100; */
    font-family: 'Peyda', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: rtl;
  }
  a{
    font-family: inherit;
  }
}

@layer utilities {
  .delay-700 {
    animation-delay: 700ms;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes pulse {
  0%, 100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
}


